{% extends "blog/base.html"  %}
 
{% block content %}  
{% if posts %}
 {% for post in posts %} 
<div class="card mb-4">
       
    
    <div class="card-body">
     
      <h2 class="card-title"><a href="#">{{ post.title|capfirst }}</a></h2>
      <p class="card-text">{{ post.content|truncatechars:"100" }}</p>
      <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read More →</a>
    </div>
    <div class="card-footer text-muted">
      Posted on {{ post.pub_date }} by 
      <a href="#">{{ post.authoer.name }}</a>
    </div>
    
  </div> 
  {% endfor %} 
  
  {% else %}      
  
    <p>There are no posts</p>
 
 {% endif %} 
{% endblock %}