{% extends "blog/base.html"  %}
 
{% block content %}  
 {% for post in posts %} 
<div class="card mb-4">
       
    
    <div class="card-body">
     
      <h2 class="card-title"><a href="#">{{ post.title|capfirst }}</a></h2>
      <p class="card-text text-muted h6">{{ post.author }} | {{ post.pub_date}} </p> <!-- new added--->
      <p class="card-text">{{ post.content|truncatechars:"100" }}</p>
      <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <!--<div class="card-footer text-muted">
      Posted on {{ post.pub_date }} by 
      <a href="#">{{ post.authoer.name }}</a>
    </div>-->
  </div>
        {% empty %}
            <p>There are no posts</p>
        </div> 
    </div>
 {% endfor %} 
{% endblock %}