{% extends "cadmin/admin_page.html" %}

{% block main %}

<div class="main">
        
    <div class="card-body">
    <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="id_username">Enter New password</label></td>
                    <td><input type="password" id="id_password" name="new_password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
</div>
{% if s %}
<div class="alert alert-success">
    <p style="color:#40e857; font-size: 20px;"><strong>Success!</strong> Password has changed.</p>
  </div>
{% endif %}  
</div> 

{% endblock %}